<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Category</title>
    <link rel="stylesheet" href="../public/css/category.css">

</head>

<body>
    <nav class="navbar navbar-fixed flex flex-wrap flex-between  navbar-bg nav-zindex">
        <div class="flex flex-space-evenly flex-align-item-center ">
            <ul class=" text-deocration-none flex flex-wrap flex-align-item-center gap">
                <li class="pb-1 nav-text navbar-white-text flex flex-align-item-center gap-1">
                    <span class="material-icons snackbar-icons  navbar-icons">menu</span>
                </li>
                <a href="../views/home.html" class="text-deocration-none list-style-none">
                    <li class="pb-1  navbar-white-text flex flex-align-item-center gap-1">
                        <span class="font-bold">Quiz-Grad</span>
                    </li>
                </a>
            </ul>
        </div>
    
        <div class="flex flex-space-evenly flex-align-item-center ">
            <ul class=" text-deocration-none flex flex-wrap gap-col-2">
               
                <a href="#" class="text-deocration-none" target="_blank" rel="noreferrer">
                    <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                        <span class="material-icons">help_outline</span>
                        <span class="">help</span>
                    </li>
                </a>
                <a href="#" class="text-deocration-none" target="_blank" rel="noreferrer">
                    <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                        <span class="material-icons">person</span>
                        <span class="">Mehul</span>
                    </li>
                </a>
                <a href="#" class="text-deocration-none" target="_blank" rel="noreferrer">
                    <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                        <span class="material-icons">exit_to_app</span>
                        <span class="">Sign-out</span>
                    </li>
                </a>
            </ul>
        </div>
        
    </nav>  
 

    <main class="container">
        

         <section class="flex flex-wrap flex-column   mt-3 mb-3">
           
            <div class="flex flex-column gap-1 mb-3">
               <span class="font-bold font-weight-800 font-sm">Select Topic</span>
               <span class="font-md-light">Featured Category</span>
            </div>
   
            <div class="flex flex-wrap gap flex-justify-center ">
                <a href="../views/quiz-rule.html" >
                    <div class="flex relative">
                        <img src="../public/img/categories/food.webp"
                            alt="food" loading="lazy" class="img-category">
                        <div class="img-text-left">
                            <span >Food</span>
                        </div>
                        <div class="img-text-right">
                            <span >20 Questions</span>
                        </div>
                    </div>
                </a>
                <a href="../views/quiz-rule.html">
                    <div class="flex relative">
                        <img src="../public/img/categories/travel.webp"
                            alt="travel" loading="lazy" class="img-category">
                        <div class="img-text-left">
                            <span>Travel Mania</span>
                        </div>
                        <div class="img-text-right">
                            <span >5 Questions</span>
                        </div>
                    </div>
                </a>
               <a href="../views/quiz-rule.html">
                <div class="flex relative">
                    <img src="../public/img/categories/technology.jpeg"
                        alt="technology" loading="lazy" class="img-category">
                    <div class="img-text-left">
                        <span>Technology</span>
                    </div>
                    <div class="img-text-right">
                        <span >9 Questions</span>
                    </div>
                </div>
               </a>
               <a href="../views/quiz-rule.html">
                <div class="flex relative">
                    <img src="https://images.pexels.com/photos/6152809/pexels-photo-6152809.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="cars" loading="lazy" class="img-category">
                    <div class="img-text-left">
                        <span>Cars</span>
                    </div>
                    <div class="img-text-right">
                        <span >9 Questions</span>
                    </div>
                </div>
               </a>
               <a href="https://www.github.com">
                <div class="flex relative">
                    <img src="../public/img/categories/food.webp"
                        alt="food" loading="lazy" class="img-category">
                    <div class="img-text-left">
                        <span >Food</span>
                    </div>
                    <div class="img-text-right">
                        <span >9 Questions</span>
                    </div>
                </div>
            </a>
            <a href="../views/quiz-rule.html">
                <div class="flex relative">
                    <img src="../public/img/categories/travel.webp"
                        alt="travel" loading="lazy" class="img-category">
                    <div class="img-text-left">
                        <span>Travel Mania</span>
                    </div>
                    <div class="img-text-right">
                        <span >9 Questions</span>
                    </div>
                </div>
            </a>
           <a href="../views/quiz-rule.html">
            <div class="flex relative">
                <img src="../public/img/categories/technology.jpeg"
                    alt="technology" loading="lazy" class="img-category">
                <div class="img-text-left">
                    <span>Technology</span>
                </div>
                <div class="img-text-right">
                    <span >9 Questions</span>
                </div>
            </div>
           </a>
           <a href="../views/quiz-rule.html">
            <div class="flex relative">
                <img src="https://images.pexels.com/photos/6152809/pexels-photo-6152809.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="cars" loading="lazy" class="img-category">
                <div class="img-text-left">
                    <span>Cars</span>
                </div>
                <div class="img-text-right">
                    <span >19 Questions</span>
                </div>
            </div>
           </a>
           <a href="../views/quiz-rule.html">
            <div class="flex relative">
                <img src="https://images.pexels.com/photos/6152809/pexels-photo-6152809.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="cars" loading="lazy" class="img-category">
                <div class="img-text-left">
                    <span>Cars</span>
                </div>
                <div class="img-text-right">
                    <span >19 Questions</span>
                </div>
            </div>
           </a>
           
            </div>


           
         </section>
        
        </main>


   
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>

</body>

</html>