<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizgrad</title>
    <link rel="stylesheet" href="../public/css/homepage.css">

</head>

<body>
     <nav class="navbar navbar-fixed flex flex-wrap flex-between  navbar-bg nav-zindex">
        <div class="flex flex-space-evenly flex-align-item-center ">
            <ul class=" text-deocration-none flex flex-wrap flex-align-item-center gap">
                <a href="../views/home.html" class="text-deocration-none list-style-none">
                    <li class="pb-1  navbar-white-text flex flex-align-item-center gap-1">
                        <span class="font-bold">Quiz-Grad</span>
                    </li>
                </a>
            </ul>
        </div>
    
        <div class="flex flex-space-evenly flex-align-item-center ">
            <ul class=" text-deocration-none flex flex-wrap gap-col-2">
                <a href="../views/home.html" class="text-deocration-none" target="_blank" rel="noreferrer">
                    <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                        <span>Get Started</span>
                        <span class="material-icons">east</span>
                    </li>
                </a>
            </ul>
        </div>
    </nav>  

    <main class="homepage-container">
        <section class="home-txt-container">
            <div class="flex flex-column gap flex-justify-center flex-align-item-center h-100 ">
                <h3 class="home-txt label-text-primary">Learn New Concept each Minutes.</h3>
                <p class="home-txt-descr">We help you prepare for exams and quizzes</p>
                <a href='../views/home.html' class="btn-primary btn btn-py-1">Start Learning</a>

            </div>

        </section>
        <section class="home-banner">

        </section>
    </main>
    

</body>

</html>