<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rule</title>
    <link rel="stylesheet" href="../public/css/quiz-rule.css" />
  </head>

  <body>
    <nav class="navbar navbar-fixed flex flex-wrap flex-between  navbar-bg nav-zindex">
      <div class="flex flex-space-evenly flex-align-item-center ">
          <ul class=" text-deocration-none flex flex-wrap flex-align-item-center gap">
              <li class="pb-1 nav-text navbar-white-text flex flex-align-item-center gap-1">
                  <span class="material-icons snackbar-icons  navbar-icons">menu</span>
              </li>
              <a href="../views/home.html" class="text-deocration-none list-style-none">
                  <li class="pb-1  navbar-white-text flex flex-align-item-center gap-1">
                      <span class="font-bold">Quiz-Grad</span>
                  </li>
              </a>
          </ul>
      </div>
  
      <div class="flex flex-space-evenly flex-align-item-center ">
          <ul class=" text-deocration-none flex flex-wrap gap-col-2">
              <a href="#" class="text-deocration-none" target="_blank" rel="noreferrer">
                  <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                      <span class="material-icons">help_outline</span>
                      <span class="">help</span>
                  </li>
              </a>
              <a href="#" class="text-deocration-none" target="_blank" rel="noreferrer">
                  <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                      <span class="material-icons">person</span>
                      <span class="">Mehul</span>
                  </li>
              </a>
              <a href="#" class="text-deocration-none" target="_blank" rel="noreferrer">
                  <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                      <span class="material-icons">exit_to_app</span>
                      <span class="">Sign-out</span>
                  </li>
              </a>
          </ul>
      </div>
  </nav>  

    <main class="container">
      <section class="flex flex-wrap flex-column mt-3 mb-3">
        <div class="flex flex-between flex-align-item-center flex-wrap ">
            <div class="flex flex-column mb-3 ">
                <span class="font-bold font-weight-800 font-sm">Travel Quiz</span>
                <span class="font-md-light">Read the following Instructions.</span>
              </div>
              <a href="../views/quiz-questions.html" class="btn-primary btn btn-py-1 flex flex-justify-center qg-start-btn">
                <span class="icon-default-pl"> Start Quiz </span>
            </a> 
        </div>

        <div class="flex flex-wrap gap ">
          <div class="flex relative">
            <img
              src="../public/img/categories/travel.webp"
              alt="travel"
              loading="lazy"
              class="img-category"
            />
            <div class="img-text-left">
                <span >Travel</span>
            </div>
          </div>

          <div class="flex-column flex gap-3 flex-justify-center">
            <div class="flex gap flex-align-item-center">
              <span class="qg-font-sm font-bold">Date:</span>
              <span class="font-md-light">28-07-2022</span>
            </div>

            <div class="flex gap flex-align-item-center">
              <span class="qg-font-sm font-bold">Time Limit:</span>
              <span class="font-md-light">30 Minutes</span>
            </div>

            <div class="flex gap flex-align-item-center">
              <span class="qg-font-sm font-bold">Points:</span>
              <span class="font-md-light">50 Points</span>
            </div>

            <div class="flex gap flex-align-item-center">
                <span class="qg-font-sm font-bold">Questions:</span>
                <span class="font-md-light">20 Questions</span>
              </div>
          </div>
        </div>
      </section>

      <section class="flex flex-column gap-1">
        <div class="flex flex-column gap-1 mb-1">
          <span class="font-bold font-weight-800 font-sm">Quiz Rules</span>

        </div>
        <div class="flex mb-3">
            <ul class="qg-rules list-number">
                <li>This quiz consists of 5 multiple-choice questions.</li>
                <li>To be successful with the quizzes, it’s important to be conversant with the topics.</li>
                <li>Each multiple choice question has only one correct answer.</li>
                <li> To win the quiz you need to score more than 70%.</li>
                <li>To start, click the  <span class="label-text label-text-primary">Start</span>  button. When finished, click the <span class="label-text label-text-danger">Submit</span> button.</li>
            </ul>
        </div>
      </section>
    </main>

    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
  </body>
</html>
