<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <link rel="stylesheet" href="../public/css/quiz-questions.css">
</head>
<body>
    <nav class="navbar navbar-fixed flex flex-wrap flex-between  navbar-bg nav-zindex">
        <div class="flex flex-space-evenly flex-align-item-center ">
            <ul class=" text-deocration-none flex flex-wrap flex-align-item-center gap">
                <li class="pb-1 nav-text navbar-white-text flex flex-align-item-center gap-1">
                    <span class="material-icons snackbar-icons  navbar-icons">menu</span>
                </li>
                <a href="../views/home.html" class="text-deocration-none list-style-none">
                    <li class="pb-1  navbar-white-text flex flex-align-item-center gap-1">
                        <span class="font-bold">Quiz-Grad</span>
                    </li>
                </a>
            </ul>
        </div>
    
        <div class="flex flex-space-evenly flex-align-item-center ">
            <ul class=" text-deocration-none flex flex-wrap gap-col-2">
               
                <a href="#" class="text-deocration-none" target="_blank" rel="noreferrer">
                    <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                        <span class="material-icons">help_outline</span>
                        <span class="">help</span>
                    </li>
                </a>
                <a href="#" class="text-deocration-none" target="_blank" rel="noreferrer">
                    <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                        <span class="material-icons">person</span>
                        <span class="">Mehul</span>
                    </li>
                </a>
                <a href="#" class="text-deocration-none" target="_blank" rel="noreferrer">
                    <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                        <span class="material-icons">exit_to_app</span>
                        <span class="">Sign-out</span>
                    </li>
                </a>
            </ul>
        </div>
        
    </nav>

    <main class="container">
        <section class=" width-full mt-3 pt-1">
            

            <div class="flex flex-between flex-align-item-center flex-wrap ">
                <div class="flex flex-column gap-1 mb-3 ">
                    <span class="font-bold font-weight-800 font-sm label-text label-text-primary">Travel Mania Wonderland</span>
                    <span class="font-md-light">Question 1/5</span>
                  </div>
                  <a href="../views/quiz-result.html" class="btn-danger btn btn-py-1 flex flex-justify-center qg-start-btn">
                    <span class="icon-default-pl"> End Quiz </span>
                </a> 
    
            </div>
        </section>
        
        <section class="flex flex-justify-center width-full mt-1 pt-1">
            <div class="flex flex-column gap-2">
                <span class="font-bold font-weight-800 font-sm">Whats the famous chicken dish has any idea?</span>
                <span class="btn-outline-primary btn btn-py-1 flex flex-justify-center  ">
                    <span class="icon-default-pl"> South part of Greece, in the Aegean Sea, </span>
                </span>
                <span class="btn-outline-primary btn btn-py-1 flex flex-justify-center  ">
                    <span class="icon-default-pl"> It is a part of Turkey. </span>
                </span>
                <span class="btn-outline-primary btn btn-py-1 flex flex-justify-center  ">
                    <span class="icon-default-pl"> It is located in bay of naples, italy. </span>
                </span>
                <span class="btn-outline-primary btn btn-py-1 flex flex-justify-center  ">
                    <span class="icon-default-pl"> It is somewhere in scotland. </span>
                </span>
            </div> 
        </section>
        
        <section class="flex flex-justify-center flex-align-item-center mt-2 mb-3">
            <button  class="btn-dark btn btn-py-1 flex flex-justify-center flex-align-item-center">
                <span>Next</span>
                <box-icon name='right-arrow-alt' animation='fade-right-hover' color='#f0f0f0' ></box-icon>
            </button>

        </section>
    </main>

    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>

</body>
</html>